<%- include('../partials/header') %>

    <%- include('../partials/menu') %>

        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Purchases</h1>
            <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <span>this is data of Users</span>
                </div> -->


            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Transactions</h6>
                </div>
                <div class="card-body">
                    <form class="row">
                        <div class="col-md-4">
                            <label for="invoice" class="col-form-label">Invoice</label>
                            <input type="text" class="form-control" id="invoice" name="invoice"
                                value="<%= purchases.invoice %>" readonly>
                        </div>
                        <div class="col-md-4">
                            <label for="time" class="col-form-label">Time</label>
                            <input type="text" class="form-control" id="time" name="time" value="<%= purchases.time %>"
                                readonly>
                        </div>
                        <div class="col-md-4">
                            <label for="operator" class="col-form-label">Operator</label>
                            <input type="text" class="form-control" id="operator" name="operator"
                                value="<%= user.name %>" readonly>
                        </div>
                    </form>
                </div>
                <hr>
                <div class="card-body">
                    <form class="row">
                        <div class="col-md-4">
                            <label for="barcode" class="col-form-label">Goods Barcode</label>
                            <select class="form-control" id="barcode" name="barcode">
                                <% goods.forEach( item=> { %>
                                    <option value="<%= item.barcode %>">
                                        <%= item.barcode + '-' + item.name %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="goodsname" class="col-form-label">Goods Name</label>
                            <input type="text" class="form-control" id="goodsname" name="goodsname" readonly>
                        </div>
                        <div class="col-md-4">
                            <label for="stock" class="col-form-label">Stock</label>
                            <input type="text" class="form-control" id="stock" name="stock" readonly>
                        </div>
                        <div class="col-md-4">
                            <label for="purchaseprice" class="col-form-label">Purchases Price</label>
                            <input type="text" class="form-control" id="purchaseprice" name="purchaseprice">
                        </div>
                        <div class="col-md-4">
                            <label for="quantity" class="col-form-label">Qty</label>
                            <input type="text" class="form-control" id="quantity" name="quantity">
                        </div>
                        <div class="col-md-4">
                            <label for="totalprice" class="col-form-label">Total Price</label>
                            <input type="text" class="form-control" id="totalprice" name="totalprice">
                        </div>
                    </form>
                </div>

                <div class="table">
                    <table class="table">

                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Barcode</th>
                                <th>Name</th>
                                <th>Qty</th>
                                <th>Price</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="card-body">
                    <div class="table">
                        <div class="mb-3 row">
                            <label for="unit" class="col-sm-2 col-form-label">Total Summary</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="unit" name="unit" readonly>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="unit" class="col-sm-2 col-form-label">Supplier</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="unit" name="unit">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer py-3">
                    <button type="submit" class="btn btn-info btn-icon-split">
                        <span class="icon">
                            <i class="fas fa-save"></i>
                        </span>
                        <span class="text">Save</span>
                    </button>
                    <a href="/units" class="btn btn-warning btn-icon-split">
                        <span class="icon">
                            <i class="fas fa-undo-alt"></i>
                        </span>
                        <span class="text">Back</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->


        </div>
        <!-- End of Main Content -->

        <script>
            let invoice = `<%= purchases.invoice%>`

            $(document).ready(function () {
                readDetails()
                $('#barcode').change(function () {
                    const barcode = $(this).val()
                    $.get(`/purchases/goods/${barcode}`).done(function (data) {
                        $('#goodsname').val(data.name)
                        $('#stock').val(data.stock)
                        $('#purchaseprice').val(data.purchaseprice)
                        $('#quantity').val(0)
                        $('#totalprice').val()

                    })
                })
            })

        </script>

        <%- include('../partials/footer') %>